@import "./variables";

.main-footer {
    position: relative;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    height: 458px;
    background-color: #fff;
    @media screen and(max-width: $breakpoint-phone) {
        box-sizing: border-box;
        grid-template-columns: 1fr;
        height: auto;
    }
}
.container-mail {
    position: relative;
    width: 400px;
    height: auto;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    left: 50%;
    padding: 40px 24px;
    transform: translateX(-50%);
    @media screen and(max-width: $breakpoint-phone) {
        padding: 40px 24px;
        width: 100%;
        transform: none;
        box-sizing: border-box;
        align-items: center;
        left: 0;
    }
    form {
        display: flex;
        margin-bottom: 40px;
        margin-top: 47px;
        @media screen and(max-width: $breakpoint-phone) {
            display: block;
        }
    }
    input {
        border: none;
        border-bottom: 1px solid $white-light-smoke;
        width: 317px;
        margin-right: 10px;
        height: 48px;
        @media screen and(max-width: $breakpoint-phone) {
            width: 90%;
            margin-bottom: 40px;   
        }
    }
    button{
        position: relative;
        background-color: $white-light-smoke;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 48px; */
        background-color: #9D9D9D;
        color: white;
        line-height: 10px;
        text-decoration: none;
        width: 120px;
        height: 48px ;
        overflow: hidden;
        @media screen and(max-width: $breakpoint-phone) {
            width: 25%;
            max-width: 200px;
            min-width: 130px;
            height: 38px;
        }
        section {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 1s;
            left: 0%;
            svg {
                height: 20px;
                width: 20px;
            }
            &:nth-child(1) {
                left:-100%;
                svg {
                    transition: all 1s;
                    opacity: 0;
                    margin-left: 10px;
                }
            }
            &:nth-child(2) {
                bottom: -100%;
            }
            &:nth-child(3) {
                bottom: 0%;
            }
            &:nth-child(odd) {
                svg {
                    margin-left: 10px;
                }
            }
        }
    }
    p {
        font-size: 10px;
        color:#9D9D9D;
        @media screen and(max-width: $breakpoint-phone) {
            font-size: 8px;   
        }
    }
}
 

.container-help{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    @media screen and (max-width: $breakpoint-phone){
       flex-direction: column;
       align-items: flex-start;
    }
    ul {
        position: relative;
        height: auto;
        @media screen and (max-width: $breakpoint-phone){
            height: 0;
            max-height: 300px;
            overflow: hidden;
            margin-left: 20px;
            transition: height .9s;
        }
        svg {
            position: absolute;
            width: 20px;
            left: -40px;
            @media screen and (max-width: $breakpoint-phone){
                display: none;
            }
        }
    }
    li {
        margin: 16px 0;
        list-style: none;
    }
    a {
        text-decoration: none;
        color: #000;
    }    
}

.drop-button {
    // display: none;
    &.foot-mobile{
        display: none;
        @media screen and (max-width: $breakpoint-phone){
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    }
    @media screen and(max-width: $breakpoint-phone) {
           background-attachment: $white-abusive;
           box-sizing: border-box;
           text-align: left;
           width: 100%;
           height: 48px;
           border: none; 
    }
}
.dropdown-content {
    width: 100%;
}

.right-footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: black;
    color:white;
    font-size: $ultra-small-size;
    column-gap: 10px;
    @media screen and (max-width: $breakpoint-phone){
        flex-direction: column;
        height: 110px;   
    }
    p, a{
        margin-left: 8px;
    }
    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
}

.social-footer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 38px;
    width: 100%;
    line-height: 18.75px;
    @media screen and (max-width: $breakpoint-phone){
        margin-top: 10px;
        margin-bottom: 10px;
        bottom: 0;
        position: relative;
    }
    a {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        @media screen and (max-width: $breakpoint-phone){
            svg {
                margin-left: 10px;
            }
        }
        #instagram:hover {
            background: rgb(18,231,244);
            background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
        }
        #twitter:hover {
            background: rgb(44,226,221);
            background: linear-gradient(191deg, rgba(44,226,221,1) 10%, rgba(38,162,198,1) 50%, rgba(28,65,163,1) 97%);
        }
        #pinterest:hover{
            background: rgb(233,189,155);
            background: linear-gradient(191deg, rgba(233,189,155,1) 0%, rgba(198,38,52,1) 18%, rgba(226,77,44,1) 78%);
        }
        #youtube:hover{
            background: rgb(153,22,22);
            background: linear-gradient(191deg, rgba(153,22,22,1) 0%, rgba(198,38,52,1) 18%, rgba(166,40,12,1) 78%);
        }
        #facebook:hover{
            background: rgb(38,189,198);
            background: linear-gradient(191deg, rgba(38,189,198,1) 18%, rgba(45,113,200,1) 78%);
        }
    }
}

