@import "./variables";

.item-grid {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: stretch;
    width: 100%;
    font-size: 24px;
    @media screen and(max-width: $breakpoint-phone) {
            display: flex;
            flex-direction: column;
            align-items: center;
    }
}
#image-grid {
    position: relative;
    // display: grid;
    // grid-template-columns: 50% 50%;
    width: 66vw;
    height: 66vw;
    // column-gap: 2px;
    // row-gap: 2px;
    @media screen and(max-width: $breakpoint-phone) {
        // grid-template-columns: repeat(4, 1fr);
        width: 100vw;
        height: 100vw;
        // overflow-x: auto;
        // white-space: nowrap;
        // scroll-snap-type: x mandatory;
    }
    section{
        position: relative;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        width: 66vw;
        height: 66vw;
        column-gap: 2px;
        row-gap: 2px;
        overflow: hidden;
        @media screen and(max-width: $breakpoint-phone) {
            grid-template-columns: repeat(4, 1fr);
            width: 100vw;
            height: 100vw;
            overflow-x: auto;
            white-space: nowrap;
            scroll-snap-type: x mandatory;
        }
    }
    span {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
        @media screen and(max-width: $breakpoint-phone) {
            width: 100vw;
            scroll-snap-align: center;
        }
    }
    img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        transition: all .5s linear;
        @media screen and(max-width: $breakpoint-phone) {
            position: relative;
            width: 100vw;
        }
        /* cubic-bezier(0.68, -0.55, 0.265, 1.55); */
        /* filter: blur(10px); */
    }
    button {
        position: absolute;
        display: none;
        z-index: 9;
        @media screen and(max-width: $breakpoint-phone) {
            display: block;
            background: none;
            border: none;
            height: 5.33%;
            width: 5.33%;
            top: 4.8%;
        }
        svg {
            height: 100%;
            width: 100%;
            pointer-events: none;
        }
    }
    
}
.image-heart{
    position: sticky;
    right : 6.9333%;
}
.image-back {
    position: absolute;
    left:6.9333% ;
}
.lent {
    position: absolute;
    border: 2px solid black;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    pointer-events: none;
    transform-origin: right;
    background-image: url("./img/grid.jpg");
    background-position: center;
}
.item-desc {
    box-sizing: border-box;
    padding: 0 24px;
    font-size: 24px;
    width: 100%;
    @media screen and(max-width: $breakpoint-phone) {
        padding: 24px;
    }
    > section:nth-child(1){
        margin-bottom: 5.05%;
        h4 {
            font-weight: lighter;
        }        
    }
    section:nth-child(2){
        display: flex;
        justify-content: left;
        align-items: center;
        font-size: 18px;
        @media screen and(max-width: 300px) {
            font-size: 13px;
        }
        h4, h5 {
            margin-left: 4%;
        }
        h5 {
            font-weight: lighter;
            text-decoration: line-through;
        }

    }
}