$font-family: "Roboto", sans-serif;
$font-strong-size: 20px;
$small-size: 18px;
$ultra-small-size: 12px;

$strawberry-color: rgb(187, 48, 82);
$white-main: #f5f5f5; 
$white-light-smoke:  #747474;
$white-abusive: rgb(240, 240, 240);
$white-light-smoke:  #747474;
$white-abusive: rgb(240, 240, 240);

$breakpoint-tablet: 1100px;
$breakpoint-phone:800px; 