:root {
    --font-light: "Roboto", sans-serif;
    --font-strong: "Roboto", sans-serif;
    --small-size: 18px;
    --ultra-small-size: 12px;
    --font-pacific: "Pacifico", cursive;
    --strawberry-color: rgb(187, 48, 82);
    --white-main: #f5f5f5; 
    --white-light-smoke:  #747474;
    --white-abusive: rgb(240, 240, 240);
}
html, body {
    margin:0;
    padding: 0;
    max-width: 100vw;
    background-color: var(--white-main);
    overflow-x: hidden;
    font-family: var(--font-pacific);
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline-color:var(--strawberry-color);
    font-family: var(--font-light);
}

button {
    cursor: pointer;
}

.foot-mobile{
    background-color: lightpink;
    /* display: none; */
}
/*
:---------------------------------:
            NAVBAR
:---------------------------------:
*/
.navbar {
    width: 100%;
    background-color: #fff;
    height: 100px;
    /* height: 50px; */
}

.navbar-banner {
    position: relative;
    top: 0;
    height: 32px;
    width: 100%;
    background-color: black;
    color: wheat;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-banner p {
    /* font-size: 14px; */
    font-family: var(--font-light);
    font-style: normal;
    font-weight: 700;
    font-size: var(--ultra-small-size);
    line-height: 140%;
    color: white;
}

.navbar-banner a {
    display: inline;
    text-decoration: none;
    color: rgb(102, 102, 102);
}
.navbar-banner button {
    position: absolute;
    right: 20px;
    background: none;
    border: none;
}
.navbar-main {
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
}

.navbar-main a {
    display: inline;
    margin: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    /* font-family: rob; */
}
.navbar-main a svg {
    display: none;
}
.navbar-main h1 {
    font-weight: lighter;
    position: absolute;
    font-size: 19px;
    font-family: var(--font-light);
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    padding: 25px;
    border: 1px dashed black;
}


/*
:---------------------------------:
            MAIN_PICS
:---------------------------------:
*/
.main-pics-container {
    position: relative;
    width: 100%;
    height: 685px;
    /* display: flex;
    justify-content: left; */
    margin-bottom: 50px;
    background-color: rgb(255, 150, 154);
    overflow: hidden;
    /* background-image: url("./img/main.jpeg");
    background-size: cover; */
}

.main-pics-container img{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* -webkit-filter: drop-shadow(5px 5px 5px #222); */
    filter: drop-shadow(-40px -10px 7px var(--strawberry-color)); 
    transition: all .8s cubic-bezier(0.34, 1.56, 0.64, 1);
     /* cubic-bezier(0.34, 1.56, 0.64, 1); */
    /* cambiare sopra */
}
.main-pics-container div {
    position: absolute;
    background-color: rgba(216, 216, 216, 0.61);
    box-sizing: border-box;
    width: 532px;
    height: 311px;
    bottom: 0;
    margin-left: 2vw;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
}
.main-pics-container h4 {
    margin-bottom: 10px;
}
.main-pics-container h1 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 64px;
}
.main-pics-container p {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 48px;
}
.main-pics-container a {
    position: static;
    width: 188px;
    height: 16px;
    left: 0px;
    top: 0px;
    text-decoration: none;
    color: #000;
    font-family: var(--font-light);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}


/*
:---------------------------------:
            MAIN_GRID
:---------------------------------:
*/
.main-grid {
    display: grid;
}
.title {
    font-size: 30px;
    font-family: var(--font-light);
}


/*
:---------------------------------:
            CARD
:---------------------------------:
*/
/* .main-grid {
    border: 2px solid teal;
    min-height: 800px;
} */
.rev-card img{
    grid-column: 2/3;
}
.card {
    position: relative;
    height: 100vh;
    width: 90%;
    max-width: 328px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgb(33, 118, 124), -2px -2px 8px #7edac6 ;
    box-sizing: border-box;
    border: 2px solid white;
    transition: all .3s ;
    border: 2px solid black;
}
/* .card-grid:nth-child(1){
    margin-bottom: 50px;
} */
.card-grid {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-flow:dense;
    /* height: 100vh; */
    height: 100vh;
    /* min-height: 800px; */
    margin-bottom: 50px;
    /* line-height: 0; */

}
@keyframes slice-enter-animation{
    /* 0%{
        transform: translateX(-20%);
    } */
    100% {
        transform: translateX(0);
    }
}
@keyframes slice-enter-animation-reverse{
    0%{
        transform: translateX(20%);
    }
    100% {
        transform: translateX(0%);
    }
}
/* card-grid a */
@keyframes smooth-enter {
    0% {
        transform: scale(0, .035);
        color: black;
	}
	45% {
        transform: scale(1, .035);
    }
    90% {
        transform: scale(1, 1);
        color:black
    }
    100%{
        color: white
    }
}

.animation-card-div{
    animation: slice-enter-animation 2s 1 forwards;
}
.animation-card-div-rev{
    animation: slice-enter-animation-reverse 2s 1;
}
.card-grid img {
    height: 100%;
    width: 100%;
    object-fit: cover;
} 
.card-grid div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #fff;
    text-align: left;
    padding: 80px;
    /* height: 100%; */
}
.card-grid h2 {
    line-height: 3rem;
}
.card-grid p {
    line-height: 2rem;
}
.card-grid a {
    position: relative;
    background-color: black;
    color: white;
    text-decoration: none;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 169px;
    height: 38px;
}
.smooth-animation {
    animation: smooth-enter 2.5s 1;
}
.card-grid svg {
    position: relative;
    height: 20px;
    width: 20px;
    margin: 0;
    left: 10px;
    vertical-align: middle;
}
.carousel {
    background-color: var(--white-main);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
}
.carousel div {
    padding: 20px;
    margin: 20px;
    text-align: center;
}
.carousel svg {
    position: relative;
    height: 25px;
    width: 25px;
}


/*
:---------------------------------:
            FOOTER
:---------------------------------:
*/

.main-footer {
    position: relative;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    height: 458px;
    background-color: #fff
}
.container-mail {
    position: relative;
    width: 400px;
    height: auto;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
}
.container-mail form {
    display: flex;
    margin-bottom: 40px;
    margin-top: 47px;
}
.container-mail input {
    border: none;
    border-bottom: 1px solid var(--white-light-smoke);
    width: 317px;
    margin-right: 10px;
    height: 48px;
}
.container-mail button{
    position: relative;
    background-color: var(--white-light-smoke);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 48px; */
    background-color: #9D9D9D;
    color: white;
    line-height: 10px;
    text-decoration: none;
    width: 120px;
    height: 48px ;
    overflow: hidden;
}
.container-mail button section {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    left: 0%;
}
.container-mail section svg {
    height: 20px;
    width: 20px;
}
.container-mail button section:nth-child(1) {
    left:-100%;
}
.container-mail button section:nth-child(2) {
    bottom: -100%;
}
.container-mail button section:nth-child(3) {
    bottom: 0%;
}
.container-mail button section:nth-child(1) svg {
    transition: all 1s;
    opacity: 0;
    margin-left: 10px;
}
.container-mail section:nth-child(odd) svg{
    margin-left: 10px;
}

.container-mail p {
    font-size: 10px;
    color:#9D9D9D;
}
.container-help{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.container-help ul {
    position: relative;
    height: auto;
}

.container-help ul svg {
    position: absolute;
    width: 20px;
    left: -40px;
}
.container-help li {
    margin: 16px 0;
    list-style: none;
}
.container-help a {
    text-decoration: none;
    color: #000;
}
.drop-button {
    display: none;
}
.drop-button.foot-mobile{
    display: none;
}
.right-footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: black;
    color:white;
    font-size: var(--ultra-small-size);
    column-gap: 10px;
}
.right-footer p,
.right-footer a{
    margin-left: 8px;
}
.right-footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.social-footer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 38px;
    width: 100%;
    line-height: 18.75px;

}

.social-footer a {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

#instagram:hover {
    background: rgb(18,231,244);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

#twitter:hover {
    background: rgb(44,226,221);
    background: linear-gradient(191deg, rgba(44,226,221,1) 10%, rgba(38,162,198,1) 50%, rgba(28,65,163,1) 97%);
}
#pinterest:hover{
    background: rgb(233,189,155);
    background: linear-gradient(191deg, rgba(233,189,155,1) 0%, rgba(198,38,52,1) 18%, rgba(226,77,44,1) 78%);
}
#youtube:hover{
    background: rgb(153,22,22);
    background: linear-gradient(191deg, rgba(153,22,22,1) 0%, rgba(198,38,52,1) 18%, rgba(166,40,12,1) 78%);
}
#facebook:hover{
    background: rgb(38,189,198);
    background: linear-gradient(191deg, rgba(38,189,198,1) 18%, rgba(45,113,200,1) 78%);
}

.drop-button.foot-mobile{
    display:none;
}

/*
:---------------------------------:
            PRODUCT
:---------------------------------:
*/
@keyframes product-opacity-animation{
    0%{
        /* opacity: .8; */
        transform:translateX(20%)
    }
    100%{
        /* opacity: 1; */
        transform: translateX(0)

    }
}
@keyframes product-opacity-animation-rev{
    0%{

        transform:translateY(15%)
    }
    100%{

        transform: translateY(0)

    }
}
.opaque-card-product {
    animation: product-opacity-animation 1s 1;
}
.opaque-card-product-rev {
    animation: product-opacity-animation-rev 1s 1;
}

.grid-button{
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-product {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    grid-gap: 3px;
    background-color: var(--white-main);
    margin-bottom: 64px;
}

.card-product {
    height: 576px;
    width: 100%;
    max-width: 398px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    box-sizing: unset;
}
.card-product:hover{
    background-color: #db9bb413;
}
.card-product img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card-product div {
    /* display: flex; */
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    text-align: left;
    padding: 35px 16px;
}


.price-product {
    position: relative;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 46px;
    /* padding: 14px; */
    /* align-items: baseline; */
    /* padding-bottom: 35px; */
    /* background-color: rgb(255, 255, 255); */
}
.price-product span {
    display: flex;
    align-items: center;
}
.price-product p {
    font-size: var(--ultra-small-size);
    text-decoration: line-through;
    margin-left: 8px;
}
.price-product button {
    background: none;
    border: none;
}
.price-product button svg {
    fill: black;
}
.filter-product {
    width: 100%;
    background-color: var(--white-main);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter-product a {
    color: #000;
    text-decoration: none;
    margin: 0 8px;
    font-weight: bold;
}
.filter-product section {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.filter-product span {
    display: flex;
    align-items: center;
}
.filter-product svg {
    height: 20px;
}
.filter-product p {
    margin-right: 20px;
}
.div-title {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 21px 24px -1px rgba(235, 235, 235, 0.66);

}


/*
:---------------------------------:
            ITEM
:---------------------------------:
*/


.item-grid {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: stretch;
    width: 100%;
    font-size: 24px;
}

#image-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 66vw;
    height: 66vw;
    column-gap: 2px;
    row-gap: 2px;
    /* transition: all .5s linear; */
}
#image-grid section{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#image-grid img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: all .5s linear;
    /* cubic-bezier(0.68, -0.55, 0.265, 1.55); */
    /* filter: blur(10px); */
}
.item-desc {
    box-sizing: border-box;
    padding: 0 24px;
    /* font-family: var(--font-light);
    font-style: normal;
    font-weight: 700; */
    font-size: 24px;
    width: 100%;
}
/* title */
.item-desc > section:nth-child(1){
    margin-bottom: 30px;
}
.item-desc > section:nth-child(1) h4 {
    font-weight: lighter;
}
/* price */
.item-desc section:nth-child(2){
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 18px;
    /* flex-wrap: wrap; */
    /* gap: 60px; */
}
.item-desc section:nth-child(2) h4, h5 {
    margin-left: 10px;
}
.item-desc section:nth-child(2) h5 {
    font-weight: lighter;
    text-decoration: line-through;
}
.add-to-cart{
    position: relative;
    background-color: var(--white-light-smoke);
    border: none;
    background-color: black;
    color: white;
    text-decoration: none;
    width: 80%;
    max-width: 300px;
    height: 64px ;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: all .5s;
}

.add-to-cart section {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(0, 0, 0); */
}
.add-to-cart span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
}
.add-to-cart span h4 {
    position: absolute;
    font-size: 18px;
    top:9px;
    height: 30px;
    width: 30px;
    /* position: absolute; */
    /* top: 50%; */
    /* left:-20px; */
    /* transform: translateY(-50%); */
}
.add-to-cart span svg {
    height: 20px;
    width: 20px;
}

.add-to-cart #add-to-cart-section-1 {
    left: -100%;
    top:100%
}
.add-to-cart #item-added-cart-section{
	/* top: 50%; */
    left: -100%;
    display: flex;
    justify-content: center;

    background-color: rgb(187, 48, 82);
	/* transform: translate(-50%,-50%); */
}
#item-added-cart-section svg{
    width: 18px;
    height: 18px
}

.heart-item-button{
    border: none;
    height: 64px;
    width:64px;
    background-color: #000;
    margin-left: 2px;
    outline: none; 
    /* problem here */
}
@keyframes heart-animation{
    0%{
        bottom: 50%;
        opacity: 1;
    }
    100%{
        transform: translateX(-50%) rotateY(360deg);
        bottom:130%;
        opacity: 0;
    }
}
#heart-fly {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s linear;
    z-index: -9;
    outline: var(--white-abusive);
    border: 0;
}
#heart-fly svg path {
    fill: var(--strawberry-color);
}
.toggle-heart-animation {
    animation: heart-animation 2s 1;
}


.item-button-div {
    margin-top: 50px;
    display: flex;
    width: 100%;
}
.dropdown {
    position: relative;
    display: grid;
    width: 66%;
    grid-template-columns: auto;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 80px;
    /* padding: 40px 81px; */
    list-style: none;

}
.dropdown li {
    width: 80%;
    justify-self: center;
    transition: height 2s;

}
.drop-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-abusive);
    box-sizing: border-box;
    padding: 0 24px;
    width: 100%;
    height: 48px;
    border: none;
    outline: none;
}
.drop-button div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
}
.drop-button section {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 10;
}
.drop-button:focus section {
    outline: 1px solid var(--strawberry-color);
}
.drop-button div span {
    position: absolute;
    /* right: 50%; */
    background-color: black;
    height: 2px;
    width: 20px;
    transition: all .6s linear;
    bottom: auto;
    opacity: 1;
}
.drop-button div span:nth-child(2) {
    transform: rotateZ(90deg) scaleX(1);

    /* transform: translateX(-10px); */
}
/* .drop-button:hover div span:nth-child(2) {
    transform: rotateZ(90deg) translateX(-100%);
    opacity: 0;
} */

.drop-button span {
    display: flex;
    align-items: center;
}
.dropdown-content {
    box-sizing: border-box;
    width: 100%;
    height: 0px;
    /* max-height: 300px; */
    padding: 0 20px;
    transition: height 0.9s;
    overflow: hidden;
}
.dropdown-content.open{
    max-height: 400px;
}
.dropdown-content p{
    margin: 20px 0;
}
.rev svg {
    transform: rotate(180deg);
}

/* usuful for keep footers container-help  height: auto
when resize from mobile with js opened content.
 */
@media only screen and (min-width:801px){
    .container-help ul {
        height: auto !important;
    }
}
/* 1023px better */
@media only screen and (max-width: 800px) {
   html, body {
      max-width: 100vw!;
       margin: 0 auto;
   }
    * {
        padding: 0;
        margin:0;
    }
    .navbar-main h4 {
        display: none;
    }
    .navbar-main a svg {
        display: block;
    }

    .navbar-main h1 {
        font-weight: lighter;
        text-align: center;
        position: absolute;
        font-size: 19px;
        font-family: var(--font-light);
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        padding: 5px;
        border: 1px dashed black;
    }
    .slider svg {
        position: relative;
        height: 25px;
        width: 25px;
    }
    .slider {
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        height: 160px;
        }

    .slider:before,
    .slider:after{
        content: "";
        position: absolute;
        z-index: 2;
    }

    .slider:after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
    }

    .slider:before {
    left: 0;
    top: 0;
    }
    .slide-track {
        animation: scroll 5s linear infinite;
        display: flex;
        justify-content: center;
        width: calc(250px * 12);
        }

    .main-footer {
        box-sizing: border-box;
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        /* padding: 24px; */
        height: auto;
        background-color: #fff
    }
    .social-footer {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0px;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
        line-height: 18.75px;
    }
    .social-footer svg {
        margin-left: 10px;
    }
    .right-footer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 110px;
        background-color: black;
        color:white;
        font-size: var(--ultra-small-size);
        column-gap: 10px;
    }
    .right-footer p,
    .right-footer a{
        margin-left: 8px;
    }
    .right-footer a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    /*
    :---------------------------------:
                HOME
    :---------------------------------:
    */
    .main-pics-container {
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: 48px;
        object-fit: contain;
        line-height: 0;
    }

    .main-pics-container img{
        position: relative;
        object-fit: cover;
        box-sizing: inherit;
        width: 100%;
        height: 300px;
    }
    .main-pics-container div {
        position: relative;
        background-color: #fff;
        box-sizing: border-box;
        width: 100%;
        height: 311px;
        bottom: 0;
        margin-left: 0;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(20px);
        text-align: center;
    }
    .main-pics-container p {
    margin-bottom: 20px;
    }
    .main-grid {
        margin-bottom: 0px;
    }
    .card-grid {
        grid-template-columns: 1fr;
        min-height: initial;
        height: auto;
        display: grid;
    }
    .card-grid img {
        height: initial;
        margin: 0;
    }
    .rev-card img{
        grid-column: initial;
    }
    .card-grid div {
        /* position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        text-align: left; */
        padding: 24px;
        /* height: 100%; */
    }
    .item-grid {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*
    :---------------------------------:
                PRODUCTS
    :---------------------------------:
    */
    .grid-product {
        display: grid;
        width: 100%;
        grid-template-columns: auto auto !important;
        justify-items: center;
        grid-gap: 3px;
        background-color: var(--white-main);
        margin-bottom: 64px;
    }
    .div-title {
        justify-content: start;
    }
    .card-product {
        height: 576px !important;
        margin: 0 !important;
        width: 100%;
        max-width: 398px;
        display: grid;
        grid-template-rows: 1fr 1fr !important;
    }
    .card-product div {
        display: block !important;
    }
    .card-product div > span h2 {
        margin-bottom: 12px;
    }
    .price-product {
        background-color: rgb(255, 255, 255);
        box-sizing: border-box;
        padding: 20px 0px;
        font-size: 13px;
    }

    .card-product img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .add-to-cart-product{
        display: block;
    }
        /*
    :---------------------------------:
                  ITEM
    :---------------------------------:
    */
    .item-desc {
        padding: 24px;
        font-family: var(--font-light);
        font-style: normal;
        width: 100%;
        font-weight: 700;
        font-size: 20px;
    }
    .item-desc * {
        text-align: left;
    }


    .item-desc section:nth-child(2) h5 {
        text-decoration: line-through;
    }
     /* #image-grid {
        display: flex;
        width: 100%;
        height: 100vw;
        gap:0;
        flex-wrap: nowrap; 
        justify-content: start;
        align-items: center; 
        overflow: auto;
        white-space: nowrap; 
        object-fit: cover;
    } */
    #image-grid section, img{
        position: relative;
        width: 100%;
        /* object-fit: cover; */
    } 
    #image-grid {
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        height: 100vw;
        overflow-x: auto;
        white-space: nowrap;
    }

    #image-grid section{
        position: relative;
        height: 100%;
        width: 100vw;
    }
    
    #image-grid img{
        /* display: none; */
        /* object-fit: cover; */
        height: 100%;
        width: 100%;
        transition: all .5s linear;
        /* cubic-bezier(0.68, -0.55, 0.265, 1.55); */
        /* filter: blur(10px); */
    }
    
    /*
    :---------------------------------:
                GENERAL
    :---------------------------------:
    */
    .carousel {
        width: auto;
        background-color: var(--white-main);
        display: flex;
        justify-content: start;
        align-items: center;
        height: 130px;
        overflow: auto;
        /* white-space: pre-line; */
    }
    .carousel div {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 500px;
        padding: 0 40px;
        box-sizing: border-box;
        text-align: center;
        white-space: nowrap;
    }
    .carousel svg {
        position: relative;
        height: 25px;
        width: 25px;
    }
    .container-help{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        /* padding: 0; */
    }
    .container-help li {
        list-style: none;
        margin: 10px;
    }
    .container-help a {
        text-decoration: none;
        color: #000;
    }
    .container-help ul svg,
    .container-help ul h3{
        display: none;
    }
    .container-help ul {
        height: 0px;
        max-height: 300px;
        overflow: hidden;
        margin-left: 20px;
        transition: height .9s;
    }
    .drop-button.foot-mobile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .foot-mobile svg{
        margin: 0 20px;
    }

    .item-button-div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .item-button-div button {
        border: none;
        height: 48px;
        /* background-color: black; */
        /* color: white; */
        text-decoration: none;
    }

    .heart-item-button{
        display: none;
    }
    .dropdown {
        position: relative;
        display: grid;
        width: 100%;
        grid-template-columns: auto;
        box-sizing: border-box;
        margin-top: 40px;
        margin-bottom: 32px;
        /* padding: 40px 81px; */
        list-style: none;

    }
    .dropdown li {
        width: 100%;
        justify-self: center;
    }
    .drop-button {
        background-color: var(--white-abusive);
        box-sizing: border-box;
        text-align: left;
        width: 100%;
        height: 48px;
        border: none;
    }
    .dropdown-content {
        width: 100%;
    }
    footer {
        max-width: 100%;
        display: inline;
    }
    footer div {
        width: 100%;
    }
    .container-mail {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        left: 0px;
        top: 0px;
        padding: 40px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        left: 0;
        transform: none;
    }
    .container-mail form {
        display: block;
    }
    .container-mail input {
        border: none;
        border-bottom: 1px solid var(--white-light-smoke);
        width: 90%;
        margin-bottom: 40px;
    }
    .container-mail button{
        background-color: var(--white-light-smoke);
        border: none;
        /* height: 48px; */
        /* background-color: black; */
        color: white;
        text-decoration: none;
        width: 25%;
        max-width: 200px;
        min-width: 130px;
        height: 38px ;
    }
    .container-mail svg {
        height: 20px;
        width: 20px;
    }
    .container-mail p {
        font-size: 8px;
        color:#9D9D9D;
    }
  }


@keyframes scroll {
0% {transform: translateX(0);}
100% {transform: translateX(calc(-250px *6));}
}

/* .slider div {
padding: 20px;
margin: 20px;
text-align: center;
} */

.slider svg {
position: relative;
height: 25px;
width: 25px;
}

.slider {
margin: auto;
height: 300px;
overflow: hidden;
position: relative;
width: 100%;
background-color: var(--white-main);
display: flex;
align-items: center;
height: 160px;
}
.slider:before,
.slider:after{
content: "";
height: 100px;
position: absolute;
width: 200px;
z-index: 2;
}

.slider:after {
right: 0;
top: 0;
transform: rotateZ(180deg);
}

.slider:before {
left: 0;
top: 0;
}

.slide-track {
animation: scroll 45s linear infinite;
display: flex;
justify-content: center;
width: calc(250px * 12);
}
.slide-track:hover{
    animation-play-state: paused;
}

.slide {
    display: flex;
    box-sizing: border-box;
    /* background-color: chocolate; */
    width: 250px;
    padding: 10px;
    justify-content: start;
    flex-direction: column;
    text-align: center;
}